.mypage-container {
  border-radius: 10px;
  position: absolute;
  bottom: 10%;
  right: 5%;
  border: 3px solid rgb(228, 116, 116);
  width: 45%;
  height: 80%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.mypageP {
    font-size: 45px;
    font-weight: bold;
    position: absolute;
    top: 5%;
    left: 3%;
}

.profile-picture {
    position: absolute;
    top: 18%;
    left: 6%;
    width: 35%;
}

.camera{
    position: absolute;
    bottom: 18%;
    left: 32%;
    width: 80px;
    height: 80px;
    cursor: pointer;
}

.name-container {
    display: flex;
    gap: 20px;
}

.name-container label{
    margin-top: 20px;
    margin-left: 20px;
    font-size: 30px;
    font-weight: bold;
}

.name-container input {
    width: 55%;
    height: 65%;
    margin-top: 17px;
    border: 3px solid #ED648B;
    border-radius: 20px;
    font-size: 25px;
}

.mypagebutton {
    width: 80px;
    height: 45px;
    font-size: 25px;
    position: absolute;
    bottom: 3%;
    right: 3%;
    padding: 0;
}

.modalbutton {
    position: absolute;
    bottom: 9%;
    left: 13%;
    width: 280px;
    height: 60px;
    padding: 0;
    font-size: 30px;
    font-weight: bold;
    background-color: white;
    border: 3px solid #ED648B;
    border-radius: 20px;
    color: #ED648B;
}

.modal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%; /* 모달의 너비를 70%로 변경합니다. */
    height: 700px; /* 모달의 높이를 500px로 변경합니다. */
    z-index: 9999;
    display: flex;
    align-items: center;
}

.modal-content {
    width: 100%; /* 모달 내용의 너비를 100%로 설정합니다. */
    height: 100%; /* 모달 내용의 높이를 100%로 설정합니다. */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* 모달 내용을 수직 중앙 정렬합니다. */
}

.close{
    position: absolute;
    top: 5%;
    right: 3%;
    font-size: 40px;
    cursor: pointer;
}

.capturedImage {
    width: 640px;
    height: 480px;
    position: absolute;
    top: 51.85%;
    left: 50%;
    transform: translate(-50%, -50%);
}