.introductionH {
    position: absolute;
    top: 10%;
    left: 2%;
    transform: translateY(-50%);
    font-weight: bold;
    color: #ED648B;
    text-shadow: 2px 2px 2px #f4c2d0;
    z-index: 1;
}

.introductionH2{
    position: absolute;
    top: 23%;
    left: 3.5%;
    transform: translateY(-50%);
    color: black;
    z-index: 1;
}

.introductionH3{
    position: absolute;
    top: 30%;
    left: 3.5%;
    transform: translateY(-50%);
    color: black;
    font-weight: bold;
    font-size: 40px;
    z-index: 1;
}


.container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    position: absolute;
    bottom: 37%;
    left: 6%;
    border: 1px solid gray;
    font-size: 25px;
    font-weight: bold;
    width: 550px;
    height: 170px;
    text-align: right;
}
.card2 {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    position: absolute;
    bottom: 37%;
    right: 6.5%;
    border: 1px solid gray;
    font-size: 25px;
    font-weight: bold;
    width: 550px;
    height: 170px;
    text-align: right;
}
.card3 {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    position: absolute;
    bottom: 9%;
    left: 6%;
    border: 1px solid gray;
    font-size: 25px;
    font-weight: bold;
    width: 550px;
    height: 170px;
    text-align: right;
}
.card4 {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    position: absolute;
    bottom: 9%;
    right: 6.5%;
    border: 1px solid gray;
    font-size: 25px;
    font-weight: bold;
    width: 550px;
    height: 170px;
    text-align: right;
}
